.reportTable {
    border: black; border-collapse: collapse;
}

.reportTable td {
    padding: 7px; border: 1px solid rgb(0, 0, 0); vertical-align: top;
    min-width: 100px;
}

.reportTable tr {
    min-height: 0px;
}